<h2>Details of the celebrities</h2>
{{#with celebrity}}
<h3>Name :</h3> {{name}} 
<h3>Occupation : </h3> {{occupation}} 
<h3>Catch Phrase : </h3>{{catchPhrase}} </p>
{{/with}}
<form action="/celebrities">
<button type="submit">Go back to celebrities</button>
</form>